* {
  margin: 0;
  padding: 0;
}


.announcement {
  background-color: #000000;
  color: #ffffff;
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  width: 100%;
}

header.navigation {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  align-items: center;
  padding: 7px 50px;
}

ul.left_menu,
ul.right_menu {
  display: flex;
  list-style: none;
  text-align: center;
}
ul.left_menu li,
ul.right_menu li  {
  margin-right: 50px;
}

ul.right_menu {
  justify-content: flex-end;
}